
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
   
}

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2> Development Team </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- About Details Start -->
    <div class="site-section custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>WHO ARE WE </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="~/assets/img/info/N.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Lê Minh Nghĩa</h3>
                                <p class="block-38-subheading">Quality Management</p>
                            </div>
                            <div class="block-38-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="~/assets/img/info/M.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Huỳnh Nhật Minh</h3>
                                <p class="block-38-subheading">Quality Management</p>
                            </div>
                            <div class="block-38-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="~/assets/img/info/H.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Nguyễn Trung Hiển</h3>
                                <p class="block-38-subheading">Quality Management</p>
                            </div>
                            <div class="block-38-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="~/assets/img/info/T.jpg" alt="Image placeholder" class="mb-4" width="303" height="404">
                                <h3 class="block-38-heading h4">Tôn Tú Trinh</h3>
                                <p class="block-38-subheading">Quality Management</p>
                            </div>
                            <div class="block-38-body">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Development Process</h4>
                        <p>
                            Founded in March 2019, NMH is one of the pioneering online shopping sites in the field of online sales. Here, you can easily find and buy the products of leading brands online in the categories of Men and Women Fashion.
                        </p>
                        <p> Especially, as a 100% US-owned company, MNH has many fashion products from many parts of the world so you can dress in the stylish, youthful style of American stars.</p>
                        <p> When buying goods online at NMH, you are absolutely assured about the quality of products, models and prices. If you buy any product online, you will earn points to be able to buy goods online at a cheaper price next time. And yet, NMH also has a "Membership" benefit with lots of privileges for members when shopping. You will often receive discount coupons, monthly gifts as well as update the latest trends information about fashion, beauty, entertainment ... when shopping online at NMH</p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>Post-development process</h4>
                        <p>
                            All work and no play makes Jack a dull boy
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Area End -->
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>

